<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body>
    <%- include('navbar') %>

    <h1>Edit page</h1>

    <form action="/update_user" method="POST">
        <input type="hidden" name="id" value="<%= record.id %>">
        <p>
            <label for="name">Name</label>
            <input type="name" name="name" value="<%= record.name %>">
        </p>
        <p>
            <label for="email">Email id</label>
            <input type="text" name="email" value="<%= record.email %>">
        </p>

        <p>
            <label for="password">Password</label>
            <input type="text" name="password" value="<%= record.password %>">
        </p>

        <p>
            <input type="submit" name="update" value="Update">
        </p>
    </form>
</body>
</html>
