<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body>
    <%- include('navbar') %>

    <h1>Register page</h1>
    <ul>
    <% errors.forEach( (item)=>{ %>
        <li> <%= item.param %> - <%= item.msg %></li>
    <%  } ) %>
</ul>
    <form action="/do_register" method="POST">
        <p>
            <label for="name">Name</label>
            <input type="name" name="name">
            <%  if(errors.length>0){ %>
                <% errors.forEach( item=>{ %>
                    <span><%= item.param === "name" ? item.msg : '' %> </span>
                <% } ) %>
            <% } %>
        </p>
        <p>
            <label for="email">Email id</label>
            <input type="text" name="email">
            <%  if(errors.length>0){ %>
                <% errors.forEach( item=>{ %>
                    <span><%= item.param === "email" ? item.msg : '' %> </span>
                <% } ) %>
            <% } %>
        </p>

        <p>
            <label for="password">Password</label>
            <input type="text" name="password">
            <%  if(errors.length>0){ %>
                <% errors.forEach( item=>{ %>
                    <span><%= item.param === "password" ? item.msg : '' %> </span>
                <% } ) %>
            <% } %>
        </p>

        <p>
            <input type="submit" name="register" value="Register">
        </p>
    </form>
    
    
    

</body>
</html>
