<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <%  if(users.length>0){  %>

    <table border="1" width="50%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           
            <% users.forEach( (item)=>{ %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.email %></td>
                <td><%= item.password %></td>
                <td>
                    <a href="/edit_user/<%=item.id%>">Edit</a>
                    <a href="/delete_user/<%=item.id%>" onclick="return confirm('Are you sure you want to delete this record.')">Delete</a>
                </td>
            </tr>
           <% } ) %>
        </tbody>
    </table>

    <% }
    
    else{ %>
        <h2>There is no records</h2>
    <% } %>
    
</body>
</html>